/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: white;
  color: black;
  font-size: 16;
}

#root2 {
  background-color: aqua;
  color: red;
  font-size: 16;
}

#root3 {
  background-color: black;
  color: white;
  font-size: 16;
} */

/* TODO: An Example (Пример) */
/* h1, p {
  font-family: Lato;
}
.item {
  background-color:#b3e3de;
  margin:10px;
  padding:10px;
  border-radius:8px;
} */

/* TODO: Contact Manager (Менеджер контактов) */
/* h1,
p {
  font-family: Lato;
} */

/* TODO: Summary (Резюме) */
/* h1,
p {
  font-family: Lato;
}
ul {
  padding: 0;
  margin: 10px 0 0 0;
}
li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  background-color: rgba(61, 120, 175, 0.411);
  border-radius: 10px;
}
form {
  margin: 10px;
} */

/* TODO: Counter App (Приложение счетчика) */
/* h1, p {
  font-family: Lato;
} */

/* TODO: Contact Manager (Менеджер контактов) */
h1,
p {
  font-family: Lato;
}
ul {
  padding: 0;
  margin: 10px 0 0 0;
}
li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  background-color: rgba(61, 120, 175, 0.411);
  border-radius: 10px;
}
form {
  margin: 10px;
}
